.tomate {
	padding: 40px;
	font-size: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-Serif";
}
.time {
	padding: 20px;
	font-size: 60px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-Serif";
}
.pomodoro.ui.button, .shortBreak.ui.button, .longBreak.ui.button {
	border: solid black 0.1px;
}
.ui.blue.buttons {
	margin-left: 40px;
	margin-right: 40px;
	height: 35px;
}
#start, #stop, #reset {
	padding-left: 30px;
	padding-right: 30px;
	border: solid black 0.1px;
}
#use {
	padding: 20px;
}
#container {
  margin: 30px;
  width: 200px;
  height: 150px;
  position: relative;
}
